<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
    <userSettings>
        <Launcher.Properties.Settings>
            <setting name="GTAClient" serializeAs="String">
                <value>RETAIL</value>
            </setting>
            <setting name="AutoClose" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Host" serializeAs="String">
                <value>https://192.168.0.1</value>
            </setting>
            <setting name="License" serializeAs="String">
                <value />
            </setting>
            <setting name="Login" serializeAs="String">
                <value>/login.php</value>
            </setting>
            <setting name="URL" serializeAs="String">
                <value>/path_to/current_release/menu.mnu</value>
            </setting>
            <setting name="HomepageURL" serializeAs="String">
                <value>https://website.url</value>
            </setting>
            <setting name="UserAgent" serializeAs="String">
                <value>Custom User Agent</value>
            </setting>
            <setting name="BaseURL" serializeAs="String">
                <value>https://website-base.url</value>
            </setting>
            <setting name="BaseAuth" serializeAs="String">
                <value>/path_to/endpoint.php</value>
            </setting>
            <setting name="UpdateURL" serializeAs="String">
                <value>/path_to/menu_release/</value>
            </setting>
            <setting name="ManifestVersion" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Manifest" serializeAs="Xml">
                <value>
                    <Manifest version="1">
                        <!-- Your application will check for updates every (seconds) -->
                        <CheckInterval>900</CheckInterval>
                        <!-- The URI to the remote manifest -->
                        <RemoteConfigUri>http://192.168.0.1/path_to/current_release/Update.xml</RemoteConfigUri>
                        <!-- This token must be the same at both ends to avoid tampering -->
                        <SecurityToken>00000000-0000-0000-0000-000000000000</SecurityToken>
                        <!-- All payload files are assumed to have this URI prefix. -->
                        <BaseUri>https://website.url/path_to/current_release/</BaseUri>
                        <!-- One or more files containing updates. -->
                        <Payload>UpdatePackage.zip</Payload>
                    </Manifest>
                </value>
            </setting>
        </Launcher.Properties.Settings>
    </userSettings>
</configuration>
